@font-face {
  font-family: 'Bebas Neue';
  src: url('/wp-content/themes/telemehanika/fonts/BebasNeueBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/wp-content/themes/telemehanika/fonts/Jost-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/wp-content/themes/telemehanika/fonts/Jost-ExtraBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/wp-content/themes/telemehanika/fonts/Jost-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/wp-content/themes/telemehanika/fonts/Jost-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/wp-content/themes/telemehanika/fonts/Jost-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}




/* общие настройки */
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100vw;
  -webkit-appearance: none;
  font-family: 'Jost', sans-serif;
}

* {
  box-sizing: border-box;
}

.ovh {
  overflow: hidden;
  width: 100%;
}

.row {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
  box-sizing: border-box;

}

.col-1 {
  width: calc(100% / 12);
}

.col-2 {
  width: calc(100% / 12 * 2);
}

.col-3 {
  width: calc(100% / 12 * 3);
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-5 {
  width: calc(100% / 12 * 5);
}

.col-6 {
  width: calc(100% / 12 * 6);
}

.col-7 {
  width: calc(100% / 12 * 7);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-9 {
  width: calc(100% / 12 * 9);
}

.col-10 {
  width: calc(100% / 12 * 10);
}

.col-11 {
  width: calc(100% / 12 * 11);
}

.col-12 {
  width: 100%;
}

.columns-2 {
  column-count: 2;
  column-gap: 30px;
}

.columns-2--small {
  column-count: 2;
  column-gap: 30px;
}

.columns-3 {
  column-count: 2;
  column-gap: 30px;
}

.columns-4 {
  column-count: 2;
  column-gap: 30px;
}

@media (max-width: 1240px) {
  .grid {
    margin: 0 -8px;
  }

  .row {
    margin: 0 -8px;
  }

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    padding: 0 8px;
  }

  .col-1 {
    width: calc(100% / 12);
  }

  .col-2 {
    width: calc(100% / 12 * 2);
  }

  .col-3 {
    width: calc(100% / 12 * 3);
  }

  .col-4 {
    width: calc(100% / 12 * 4);
  }

  .col-5 {
    width: calc(100% / 12 * 5);
  }

  .col-6 {
    width: calc(100% / 12 * 6);
  }

  .col-7 {
    width: calc(100% / 12 * 7);
  }

  .col-8 {
    width: calc(100% / 12 * 8);
  }

  .col-9 {
    width: calc(100% / 12 * 9);
  }

  .col-10 {
    width: calc(100% / 12 * 10);
  }

  .col-11 {
    width: calc(100% / 12 * 11);
  }

  .col-12 {
    width: 100%;
  }

  .col-l-1 {
    width: calc(100% / 12);
  }

  .col-l-2 {
    width: calc(100% / 12 * 2);
  }

  .col-l-3 {
    width: calc(100% / 12 * 3);
  }

  .col-l-4 {
    width: calc(100% / 12 * 4);
  }

  .col-l-5 {
    width: calc(100% / 12 * 5);
  }

  .col-l-6 {
    width: calc(100% / 12 * 6);
  }

  .col-l-7 {
    width: calc(100% / 12 * 7);
  }

  .col-l-8 {
    width: calc(100% / 12 * 8);
  }

  .col-l-9 {
    width: calc(100% / 12 * 9);
  }

  .col-l-10 {
    width: calc(100% / 12 * 10);
  }

  .col-l-11 {
    width: calc(100% / 12 * 11);
  }

  .col-l-12 {
    width: 100%;
  }

  .ord-l-1 {
    order: 1;
  }
}

.section {
  padding: 100px 0;
}

.section-blue {
  background: rgba(32, 53, 86, 0.05);
}

.hide {
  display: none !important
}

.no-pb {
  padding-bottom: 0;
}

.no-mt {
  margin-top: 0;
}

.no-mb {
  margin-bottom: 0;
}

.no-pt {
  padding-top: 0;
}

@media (max-width: 1240px) and (min-width: 767px) {
  .hide-l {
    display: none !important
  }
}

@media (min-width: 1240px) {
  .hide-d {
    display: none !important
  }
}

@media (max-width: 1240px) {
  .section {
    padding: 60px 0;
  }
}

@media (max-width: 600px) {
  .section {
    padding: 50px 0;
  }

  .grid {
    /* margin: 0 -8px; */
    display: flex;
  }

  .row {
    /* margin: 0 -8px; */
  }

  .col-m-1 {
    width: calc(100% / 12);
  }

  .col-m-2 {
    width: calc(100% / 12 * 2);
  }

  .col-m-3 {
    width: calc(100% / 12 * 3);
  }

  .col-m-4 {
    width: calc(100% / 12 * 4);
  }

  .col-m-5 {
    width: calc(100% / 12 * 5);
  }

  .col-m-6 {
    width: calc(100% / 12 * 6);
  }

  .col-m-7 {
    width: calc(100% / 12 * 7);
  }

  .col-m-8 {
    width: calc(100% / 12 * 8);
  }

  .col-m-9 {
    width: calc(100% / 12 * 9);
  }

  .col-m-10 {
    width: calc(100% / 12 * 10);
  }

  .col-m-11 {
    width: calc(100% / 12 * 11);
  }

  .col-m-12 {
    width: 100%;
  }

  .hide-m {
    display: none !important
  }

  .columns-2,
  .columns-2--small,
  .columns-3,
  .columns-4 {
    column-count: 1;
  }
}

.b-clear {
  clear: both;
}

*:hover {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

*:not(body, html)::-webkit-scrollbar {
  width: 3px;
  background-color: #EDEDED;
  border-radius: 2px;
}

*:not(body, html)::-webkit-scrollbar-thumb {
  background: #FF0000;
  border-radius: 2px;
}

img {
  max-width: 100%;
}

svg {
  max-width: 100%;
}

a {
  transition: all 0.3s;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:not([class]) {
  color: #E63246;
  text-decoration: none;
}

a:not([class]):hover {
  color: #4B6EB9;
}

a[href^="tel:"] {
  white-space: nowrap;
}

ul {
  padding-left: 1em;
}

label {
  margin-bottom: 14px;
  display: block;
  text-transform: uppercase;

  font-weight: 800;
  font-size: 14px;
  color: #fff;
}

.fake-select-active {
  padding: 15px 16px;
  box-sizing: border-box;
  width: 100%;
  line-height: 1;
  border: 2px solid #fff;
  background-color: #fff;
  font-size: 16px;
  color: #203556;
  -webkit-appearance: none;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fake-select {
  position: relative;
}

.js-fake-select {
  display: none;
}

.fake-select-active::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: url(./img/select-arr.svg) 50% 50% no-repeat;
  height: 100%;
  width: 50px;
  border: none;
}

.fake-select-active.open::before {
  transform: rotate(180deg);
}

.fake-select-list {
  display: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  background: #fff;
  cursor: pointer;
  border: 1px solid #ACBAD1;
}

.fake-select-list ul {
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  margin: 0;
  padding: 0;

}

.fake-select-list li {
  padding: 6px 16px;
  font-size: 16px;
  border-bottom: 1px solid #ACBAD1;
  color: #203556;
}

.fake-select-list li:hover,
.fake-select-list li.active {
  color: #E63246;
}

input,
textarea {
  padding: 15px 16px;
  box-sizing: border-box;
  width: 100%;
  line-height: 1;
  border: 2px solid #fff;
  background-color: #fff;
  font-size: 16px;
  color: #203556;
  -webkit-appearance: none;
}

textarea {}

input::placeholder,
textarea::placeholder {
  color: #203556;
}

input:focus {
  outline: none;
}

input[type="submit"] {
  margin: 0;
  padding: 0;
  width: max-content;
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.form-btn {
  padding: 15px 16px;
  background: #E63246;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.form-btn:hover {
  background: #4B6EB9;
}

.form-btn::after {
  content: '';
  width: 24px;
  height: 24px;
  background: url(./img/white-arr.svg) 0 30% no-repeat;
  display: block;
}

select {
  /* display: none; */
  -webkit-appearance: none;
}


.wpcf7-form-control-wrap {
  display: block;
  width: 100%;
}

.wpcf7-spinner {
  display: none !important;
  position: absolute !important;
  transform: translate(-50%, -50%);
}

.wpcf7-not-valid-tip {
  display: none;
  font-size: 12px;
  color: #E63246;
}

.wpcf7-not-valid {
  border: 2px solid #E63246;
}

.wpcf7-response-output {
  display: none !important;
}

.select2-container {
  display: block;
  width: auto !important
}

.select2-container--default .select2-selection--single {
  border-radius: 0;
  height: auto;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  display: block;
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  line-height: 1;
  border: 2px solid #fff;
  background-color: #fff;

  text-transform: uppercase;
  font-weight: 800;
  font-size: 14px;
  color: #333333;
  border-radius: 0;
}

.select2-results__option {
  padding: 6px 16px;
  text-transform: uppercase;

  font-weight: 800;
  font-size: 14px;
  color: #333333;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #E63246;
  color: white;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  background: url(./img/select-arr.svg) 50% 50% no-repeat;
  height: 100%;
  width: 50px;
  border: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
  transform: rotate(180deg);
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}



@media (max-width: 600px) {

  input,
  textarea {
    font-size: 16px;
  }

  .fake-select-active {
    font-size: 16px;
  }
}

.swiper-slide {
  height: auto;
}

/*  */

.body {
  margin: 0;
  padding: 0;
  background: #fff;
  position: relative;
  font-optical-sizing: auto;
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
  min-width: 320px;
  color: #203556;
}

.body.fixed {
  overflow: hidden;
}

@media (max-width: 1400px) {
  .body {
    font-size: 16px;
  }
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}

.page__header {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  z-index: 20;
  width: 100%;
  position: sticky;
  top: 0;
  background: #375a91;
}

.fixed.page__header {
  background: #375a91;
}


.page__body {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  z-index: 2;
}

@media (max-width: 1240px) {
  .body {
    font-size: 18px;
  }
}

@media (max-width: 760px) {
  .body {
    font-size: 16px;
  }
}

.p-main {
  padding-top: 0;
}

.page__footer {
  z-index: 6;
}

.container-big {
  margin: 0 auto;
  max-width: 1840px;
  box-sizing: border-box;
  width: 100%;
  box-sizing: border-box;
  padding: 0 60px;
}

.container-nopadding {
  margin: 0 auto;
  max-width: 1920px;
  box-sizing: border-box;
  width: 100%;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0 60px;
  width: 100vw;
  max-width: 1400px;
  box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 1600px) {

  .container-big,
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 760px) {

  .container-big,
  .container {
    padding: 0 16px;
  }

  .container-n-sm {
    padding: 0;
  }
}

.container-nopad {
  padding: 0;
}

h2 {
  margin: 0 0 0.5em;
  padding-bottom: 0.2em;
  font-size: 80px;
  font-weight: bold;
  line-height: 100%;
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
  position: relative;
  border-bottom: 1px solid #D6D6D6;
  width: max-content;
  max-width: 100%;
}

h2::before {
  content: '/ ';
  color: #E63246;
}

h3 {
  margin: 0;
  line-height: 120%;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}

h4 {
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
}

@media (max-width: 1400px) {
  h2 {
    font-size: 60px;
  }
}

@media (max-width: 600px) {
  h2 {
    width: 100%;
    font-size: 30px;
  }

  h4 {
    font-size: 20px;
  }
}

.btn {
  margin: 0 12px 0 15px;
  padding: 24px 40px;
  width: max-content;
  display: block;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 5%;
  color: #fff;
  text-decoration: none;
  z-index: 1;
  white-space: nowrap;
}

.btn::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 10px;
  bottom: 0;
  background: #E63246;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  z-index: -1;
  transition: all 0.3s;
}

.btn::after {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 3px;
  bottom: 0;
  width: 6px;
  background: #4B6EB9;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  z-index: -1;
  transition: all 0.3s;
}

.btn:hover::before {
  background: #4B6EB9;
}

.btn:hover::after {
  background: #E63246;
}

@media (max-width: 600px) {
  .btn {
    margin: 0 5px 0 10px;
    padding: 20px 21px;
    font-size: 16px;
    letter-spacing: 0.6px;
  }

  .btn::after {
    right: 5px;
    width: 4px;
  }
}

/* header */
.header {

  box-sizing: border-box;
  border-bottom: 1px solid rgb(104, 111, 117);
  backdrop-filter: blur(30px);
  background: linear-gradient(90.00deg, rgba(10, 4, 4, 0.7), rgba(6, 73, 118, 0.7) 100%);
  color: #fff;
}

.header a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.header__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.header__left {
  padding: 5px 0;
  padding-right: 80px;
  border-right: 1px solid #686F75;
  display: flex;
  align-items: center;
}

.header__right {
  padding: 5px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__center {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.header__phone {
  font-size: 20px;
  font-weight: 500;
  transition: color 0.3s;
}

.header__phone:hover {
  color: #E63246;
}

.header__phone img {
  display: none;
}

.header__socities {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__socity {
  display: block;
  transition: none;
  position: relative;
}

.header__socity:hover .header__unhov {
  opacity: 0;
}

.header__socity .header__hov {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.header__socity:hover .header__hov {
  display: block;
  opacity: 1;
}

.header__adaptive {
  display: none;
}

.header__btn {
  padding: 30px 40px;
}

@media (max-width: 1600px) {
  .header__left {
    padding-right: 24px;
  }

  .header__phone img {
    display: block;
    width: 30px;
  }

  .header__phone span {
    display: none;
  }

  .header__content {
    gap: 20px;
  }
}

@media (max-width: 1400px) {
  .header__logo {
    width: 150px;
    display: block;
  }
}

@media (max-width: 1240px) {
  .header__center {
    display: none;
  }

  .header__adaptive {
    display: block;
  }

  .header__logo {
    width: 217px;
  }

  .header__socities {
    display: none;
  }

  .header__phone {
    display: none;
  }
}

@media (max-width: 600px) {
  .header__btn {
    display: none;
  }

  .header__logo {
    width: 120px;
  }

  .header__left {
    padding: 6px 0;
    border-right: none;
  }
}

/*  */
.main-menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 30px;

}

.main-menu a {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0;
  transition: all 0.3s;
}

.main-menu a:hover {
  color: #E63246;
  text-decoration: none;
}

@media (max-width: 1400px) {
  .main-menu {
    gap: 16px;
  }
}

/*  */
.footer {

  background: linear-gradient(146.71deg, rgb(32, 53, 86) 0.057%, rgb(57, 94, 151) 66.498%);
  color: #fff;
}

.footer__content {
  padding: 45px 0;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer__bottom {
  padding: 30px 0;
  border-top: 1px solid #546989;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #698DC3;
}

.footer__bottom a {
  color: #698DC3;
}

.footer__bottom a:hover {
  color: #fff;
}

.footer__dev {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer__policy {
  width: 380px;
}

.footer__left {
  max-width: 265px;
}

.footer__desc {
  font-weight: 400;
  line-height: 140%;
  color: rgb(105, 141, 195);
  font-size: 16px;
}

.footer__logo {
  filter: brightness(0) invert(1);
}

.footer__logo:hover {
  filter: none
}

@media (max-width: 1240px) {

  .footer__content {
    flex-wrap: wrap;
  }

  .footer__center {
    width: 100%;
    order: 2;
  }

  .footer__bottom {
    flex-wrap: wrap;
    gap: 20px;
  }

  .footer__policy {
    width: auto;
    width: 100%;
    order: 2;
  }

}

@media (max-width: 600px) {
  .footer__right {
    width: 100%;
    order: 3;
  }

  .footer__desc {
    font-size: 14px;
  }

  .footer__left {
    max-width: 100%;
  }

  .footer__dev {
    order: 3;
    width: 100%;
  }

  .footer__bottom {
    font-size: 14px;
    gap: 6px;
  }

  .footer__logo {
    display: block;
    width: 150px;
  }

  .footer__content {
    padding: 24px 0 40px 0;
  }

  .footer__btn {
    margin: 12px 5px 0 10px;
  }

  .footer__dev {
    flex-direction: column;
    align-items: start;
  }

  .footer__dev img {
    flex-basis: fill;
    width: 130px;
  }
}

/*  */
.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 10px 80px;
}

.footer-menu a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
}

.footer-menu a:hover {
  text-decoration: none;
  color: #E63246;
}

@media (max-width: 600px) {
  .footer-menu {
    gap: 6px 30px;
  }

  .footer-menu a {
    font-size: 14px;
  }
}
@media (max-width: 350px) {
  .footer-menu {
    grid-template-columns: 1fr 1fr;
  }
}
/*  */
.mobile-menu {}

.open-menu .header {
  backdrop-filter: blur(30px);
  background: linear-gradient(90.00deg, rgb(83 80 80), rgb(80 127 159) 100%);
}

.mobile-menu__opener {
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.mobile-menu__opener span {
  display: block;
  height: 2px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  background: #fff;
  transition: all 0.3s;
  width: 25px;
}

.mobile-menu__opener span:nth-child(1) {
  top: calc(50% - 8px);
}

.mobile-menu__opener span:nth-child(2) {
  top: calc(50% - 2px);
}

.mobile-menu__opener span:nth-child(3) {
  top: calc(50% + 4px);
}

.mobile-menu.open .mobile-menu__opener span:nth-child(1) {
  top: calc(50% - 2px);
  width: 25px;
  left: 0px;
  transform: rotate(45deg);
  background: #fff;
}

.mobile-menu.open .mobile-menu__opener span:nth-child(2) {
  opacity: 0;
}

.mobile-menu.open .mobile-menu__opener span:nth-child(3) {
  top: calc(50% - 2px);
  width: 25px;
  left: 0px;
  transform: rotate(-45deg);
  background: #fff;
}

.mobile-menu .container {
  max-width: 100%;
}

.mobile-menu__inside {
  padding: 30px 0;
  position: fixed;
  left: 0;
  top: 78px;
  height: calc(100vh - 52px);
  width: 100%;
  overflow: auto;
  background: #000;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(30px);
  background: linear-gradient(90.00deg, rgb(83 80 80), rgb(80 127 159) 100%);
  z-index: 100;
  /* max-width: 500px; */
  text-align: center;
  display: none;
}

.mobile-menu__info {
  width: 100%;
}

.mobile-menu__menu {
  margin: 0 0 30px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 18px;
}

.mobile-menu__menu a:hover {
  color: #E63246;
}

.mobile-menu__info {
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
}

.mobile-menu__btn {
  margin: 0 auto 50px;
}

.mobile-menu__phone {
  font-size: 20px;
  font-weight: 500;
}

a.mobile-menu__mail {
  color: #618FBE;
}

@media (max-width: 600px) {
  .mobile-menu__inside {
    top: 52px;
  }
}

/*  */
.main-banner {
  position: relative;
}

.main-banner__slide {
  position: relative;
  height: 824px;
  max-height: 100vh;
  min-height: 600px;
  display: flex;
  align-items: center;
  color: #fff;
  overflow: hidden;
  z-index: 1;
}

.main-banner__img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-width: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-banner__image {
  position: absolute;
  top: -20px;
  bottom: -20px;
  min-width: 102%;
  height: calc(100% + 40px);
  -webkit-mask-image: url(./img/side-round-mask.svg);
  mask-image: url(./img/side-round-mask.svg);
  -webkit-mask-position: left;
  mask-position: 0% 50%;
  -webkit-mask-size: contain;
  mask-size: 70%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.main-banner__bg {
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 0;
  position: fixed;
  overflow: hidden;
}

.main-banner__bgimg {
  position: absolute;
  top: -20px;
  bottom: -20px;
  min-width: 102%;
  height: calc(100% + 40px);
  max-width: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px) brightness(90%);
}

.main-banner__container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: end;
  z-index: 2;
}

.main-banner-pagination {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  color: #fff;
  right: 60px;
  left: auto !important;
  position: absolute;
  width: max-content !important;
}

.main-banner-pagination .swiper-pagination-bullet {
  padding: 15px 0;
  display: block;
  width: max-content;
  height: auto;
  background: none;
  opacity: 0.7;
  position: relative;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
}

.main-banner-pagination .swiper-pagination-bullet::before {
  content: '';
  display: block;

  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  height: 2px;
  width: 0;
  background: #fff;
  transition: all 0.3s;

}

.main-banner-pagination .swiper-pagination-bullet:hover,
.main-banner-pagination .swiper-pagination-bullet-active {
  opacity: 1;
}

.main-banner-pagination .swiper-pagination-bullet-active::before {
  width: 50px;
}

.main-banner .container-big {
  z-index: 4;
}

.main-banner__content {
  max-width: 55%;
  color: #fff;
  z-index: 3;
}

.main-banner__title {
  margin-bottom: 30px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 3%;
}

.main-banner__text {
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
}

@media (max-width: 1400px) {
  .main-banner__title {
    font-size: 60px;
  }
}

@media (max-width: 1240px) {
  .main-banner__image {
    display: none;
  }

  .main-banner__bgimg {
    filter: none;
  }

  .main-banner__content {
    max-width: 80%;
  }
}

@media (max-width: 1000px) {
  .main-banner__title {
    font-size: 40px;
  }

  .main-banner__text {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .main-banner__slide {
    align-items: start;
    height: 690px;
    max-height: 100vh;
    min-height: 600px;
  }

  .main-banner__title {
    margin-bottom: 15px;
    font-size: 40px;
  }

  .main-banner__text {
    margin-bottom: 24px;
    font-size: 14px;
  }

  .main-banner__content {
    padding: 100px 0 160px;
    max-width: 100%;
  }

  .main-banner__container {
    bottom: 0;
    top: auto;
    transform: none;
    pointer-events: none;
  }

  .main-banner-pagination .swiper-pagination-bullet {
    font-size: 20px;
  }
}

/*  */
.about {
  margin-bottom: 100px;
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  position: relative;
}

.about__right {
  margin-top: -20px;
  position: relative;
  padding-left: 110px;
  padding-bottom: 100px;
  z-index: 1;
}

.about__right::before {
  content: '';
  display: block;
  position: absolute;
  top: -100px;
  left: 50px;
  bottom: 50px;
  width: 80vw;
  background: #F4F5F6;
  z-index: -1;
}

.about__right::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 500px;
  height: 230px;
  background: url(./img/stars.svg) 0 0 no-repeat;
  z-index: -2;
}

.about__images {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.about__benefits {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.about__benefit {
  max-width: 130px;
  position: relative;
}

.about__benefit::after {
  position: absolute;
  top: 0;
  right: -62px;
  content: '/ ';
  color: #E63246;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 100%;
}

.about__benefit:last-child:after {
  display: none;
}

.about__val {
  color: #E63246;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 100%;
}

.about__name {
  text-align: center;
  font-size: 18px;
}

@media (max-width: 1240px) {
  .about {
    margin-bottom: 60px;
    padding-top: 60px;
    grid-template-columns: 50% 45%;
  }

  .about__val {
    font-size: 60px;
  }

  .about__benefit::after {
    right: -40px;
    font-size: 60px;
  }

  .about__right {
    padding-left: 50px;
    padding-bottom: 50px;
  }

  .about__right::before {
    margin-top: 6px;
    left: 24px;
    line-height: 110%;
    font-size: 14px;
  }

  .about__images {
    margin-bottom: 24px;
  }
}

@media (max-width: 1000px) {
  .about {
    grid-template-columns: 55% 40%;
  }

  .about__benefit {
    display: flex;
    align-items: center;
    max-width: 100%;
    gap: 16px;
  }

  .about__val {
    font-size: 56px;
  }

  .about__val::after {
    content: '/ ';
  }

  .about__benefit::after {
    display: none;
  }

  .about__benefits {
    flex-direction: column;
    gap: 20px;
  }

  .about__name {
    text-align: left;
    max-width: calc(100% - 145px);
    font-size: 14px;
  }

  .about__name br {
    display: none;
  }

  .about__images svg {
    max-height: 100%;
    width: auto;
    height: auto;
  }
}

@media (max-width: 600px) {
  .about {
    margin-bottom: 20px;
    padding-bottom: 40px;
    padding-top: 50px;
    grid-template-columns: 1fr;
  }

  .about__right::before {
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
  }

  .about__right {
    padding: 40px 0;
    margin-top: 0;
    text-align: center;
  }

  .about__right::after {
    bottom: -30px;
    left: 50%;
  }

  .about__images {
    margin-bottom: 30px;
    justify-content: center;
  }

  .about__benefit {
    gap: 0;
    justify-content: end;
  }

  .about__name {
    text-align: center;
    max-width: 160px;
    font-size: 18px;
  }

  .about__name br {
    display: block;
  }

  .about__val {
    font-size: 60px;
  }
}

/*  */
.mission {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.mission__item {
  padding: 24px 40px;
  border: 1px solid rgb(214, 214, 214);
  border-right: none;
  font-size: 18px;
}

.mission__item:last-child {
  border-right: 1px solid rgb(214, 214, 214);
}

.mission__title {
  margin-bottom: 110px;
  font-size: 20px;
  font-weight: 600;
  color: #E63246;
}

@media (max-width: 1240px) {
  .mission {
    margin-bottom: 60px;
  }

  .mission__item {
    padding: 24px;
    font-size: 16px;
  }

  .mission__title {
    margin-bottom: 40px;
    min-height: 50px;
  }
}

@media (max-width: 600px) {
  .mission {
    margin-bottom: 0;
    grid-template-columns: 1fr;
    border-bottom: 1px solid rgb(214, 214, 214);
  }

  .mission__item {
    min-height: 270px;
    border-bottom: none;
    border-right: 1px solid rgb(214, 214, 214);
  }
}

/*  */
.garanty {
  margin-bottom: 80px;
  padding-top: 100px;
  display: flex;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  position: relative;
}

.garanty::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  width: 50vw;
  background: #fff;
  z-index: 3;
}

.garanty__info {
  padding: 24px 40px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: calc(33.33% - 10px);
  background: linear-gradient(138.37deg, rgb(32, 53, 86) 4.604%, rgb(57, 94, 151) 98.147%);
  position: relative;
  overflow: hidden;
  font-size: 18px;
  color: #fff;
  z-index: 2;
}

.garanty__info::before {
  content: '';
  display: block;
  position: absolute;
  left: 40px;
  bottom: calc(100% - 80px);
  width: 500px;
  height: 230px;
  background: url(./img/dots.svg) 0 0 no-repeat;
  z-index: -2;
}

.garanty__info img {
  display: block;
  margin-bottom: 24px;
  width: 40px;
}

.garanty__swiper {
  width: calc(66.66% - 10px);
  overflow: visible;
  z-index: 0;
}

.garanty__slide img {
  display: block;
}

.garanty__arrs {
  display: flex;
  position: absolute;
  right: 0;
  top: -100px;
}

.garanty__arr {
  padding-right: 11px;
  width: 60px;
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.garanty__arr::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 10px;
  bottom: 0;
  background: transparent;
  border: 1px solid #E63246;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  z-index: -1;
  transition: all 0.3s;
}

.garanty__arr:hover path {
  fill: #ffffff
}

.garanty__arr:hover::before {
  background: #E63246;
}

@media (max-width: 1240px) {
  .garanty {
    margin-bottom: 60px;
    padding-top: 60px;
  }

  .garanty__info {
    padding: 100px 24px 24px 24px;
    font-size: 16px;
  }

  .garanty__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 1000px) {
  .garanty__info {
    width: calc(50% - 10px);
  }

  .garanty__swiper {
    width: calc(50% - 10px);
  }
}

@media (max-width: 600px) {
  .garanty {
    grid-template-columns: 1fr;
    flex-wrap: wrap;
  }

  .garanty__info {
    width: 100%;
  }

  .garanty__swiper {
    margin-top: 120px;
    width: 100%;
  }

  .garanty__slide {
    margin-right: 12px;
    width: 300px;
    max-width: calc(100vw - 32px);
  }

  .garanty__arrs {
    left: 12px;
    right: auto;
  }
}

/*  */
.benefits {
  padding: 44px 0;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;
  counter-reset: item;
  position: relative;
}

.benefits::before {
  content: '';
  display: block;
  position: absolute;
  right: -44px;
  top: 0;
  width: 500px;
  height: 230px;
  background: url(./img/stars.svg) 0 0 no-repeat;
  z-index: -2;
}

.benefits--no-top::before {
  display: none;
}

.benefits::after {
  content: '';
  display: block;
  position: absolute;
  left: -44px;
  bottom: 0;
  width: 500px;
  height: 230px;
  background: url(./img/stars.svg) 0 0 no-repeat;
  z-index: -2;
}

.benefits__item {
  padding: 96px 24px 135px;
  background: rgb(244, 245, 246);
  position: relative;
  counter-increment: item;
}

.benefits__item::before {
  content: counter(item);
  top: 30px;
  right: 30px;
  position: absolute;
  background: #E63246;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.benefits__title {
  margin-bottom: 16px;
  min-height: 96px;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
}

.benefits--no-top .benefits__title {
  min-height: 50px;
}

.benefits__txt {
  font-size: 16px;
}

.benefits__img {
  position: absolute;
  left: 24px;
  bottom: 30px;
}

@media (max-width: 1240px) {
  .benefits {
    grid-template-columns: repeat(2, 1fr);
  }

  .benefits__title {
    min-height: 50px;
  }
}

@media (max-width: 600px) {
  .benefits {
    margin-bottom: 50px;
    padding: 0;
    grid-template-columns: 1fr;
  }

  .benefits::before {
    display: none;
  }

  .benefits::after {
    display: none;
  }
}

/* services */
.services {
  margin-bottom: 100px;
  padding: 80px 0 20px;
  background: linear-gradient(138.37deg, rgb(32, 53, 86) 6.466%, rgb(57, 94, 151) 97.126%);
  color: #fff;
  z-index: 1;
  position: relative;
}

.services::after {
  content: '';
  display: block;
  position: absolute;
  right: calc(50% + 566px);
  top: 0;
  width: 500px;
  height: 230px;
  transform: rotate(90deg);
  background: url(./img/dots.svg) 0 0 no-repeat;
  z-index: -2;
}

.services h2 {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.services__content {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.services__left {
  padding-top: 34px;
  width: calc(50% - 20px);
}

.services__right {
  width: calc(50% - 20px);
}

.services__tab-content {
  display: none;
}

.services__tab-content.active {
  display: block;
}

.services__imgs {
  margin: 0 auto 50px;
  padding: 70px;
  width: 530px;
  height: 530px;
  max-width: 45vw;
  max-height: 45vw;
  position: relative;
}

.services__imgs::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: url(./img/circle-outside.svg) 50% 50% no-repeat;
  background-size: contain;
  transition: all 0.6s;
}

.services__imgs::after {
  content: '';
  position: absolute;
  top: 35px;
  left: 35px;
  right: 35px;
  bottom: 35px;
  display: block;
  background: url(./img/circle-inside.svg) 50% 50% no-repeat;
  background-size: contain;
  transition: all 0.5s;
}

.services__imgs[data-circle="#tab-1"]::before,
.services__imgs[data-circle="#tab-1"]::after {
  transform: rotate(0);
}

.services__imgs[data-circle="#tab-2"]::before,
.services__imgs[data-circle="#tab-2"]::after {
  transform: rotate(90deg);
}

.services__imgs[data-circle="#tab-3"]::before,
.services__imgs[data-circle="#tab-3"]::after {
  transform: rotate(180deg);
}

.services__imgs[data-circle="#tab-4"]::before,
.services__imgs[data-circle="#tab-4"]::after {
  transform: rotate(270deg);
}

.services__slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
  pointer-events: none;
}

.services__slide {
  width: 100%;
  height: 100%;
}

.services__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services__desc {
  margin-bottom: 60px;
}

.services__tabs {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.services__tab {
  line-height: 100%;
  letter-spacing: 5%;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  transition: all 0.3s;
}

.services__tab::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 2px;
  width: 0;
  background: #E63246;
  transition: all 0.3s;
}

.services__tab.active {
  padding-left: 30px;
  color: #E63246;
}

.services__tab.active::before {
  width: 24px;
}

.services__points {
  columns: 2;
  column-gap: 20px;
}

.services__point {
  margin-bottom: 10px;
  display: flex;
}

.services__point::before {
  content: '+ ';
  margin-top: -2px;
  min-width: 24px;
  font-size: 23px;
  color: #E63246;
}

.services__more {
  margin-top: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #E63246;
  transition: all 0.3s;
}

.services__more svg {
  display: block;
  margin-left: 6px;
  margin-top: -6px;
  transition: all 0.3s;
}

.services__more:hover {
  color: #fff;
}

.services__more:hover path {
  transition: all 0.3s;
  fill: #ffffff;
}

.services__tabs--mobile {
  display: none;
}

.services__btn--mobile {
  display: none;
}

@media (max-width: 1400px) {
  .services__imgs {
    width: 400px;
    height: 400px;
  }

  .services__tabs {
    gap: 24px;
  }
}

@media (max-width: 1240px) {
  .services {
    margin-bottom: 60px;
    padding: 60px 0 20px;
  }

  .services__tab {
    font-size: 24px;
  }
}

@media (max-width: 1000px) {
  .services__points {
    columns: 1;
  }
}

@media (max-width: 600px) {
  .services {
    margin-bottom: 50px;
    padding: 0 0 20px;
  }

  .services__content {
    flex-wrap: wrap;
  }

  .services__tabs {
    margin-bottom: 35px;
    padding-bottom: 30px;
    display: none;
    gap: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .services__tabs--mobile {
    display: flex;
  }

  .services__left {
    width: 100%;
  }

  .services__right {
    width: 100%;
  }

  .services__btn {
    display: none;
  }

  .services__btn--mobile {
    display: block;
  }

  .services__imgs {
    margin-bottom: 45px;
    max-width: calc(100vw - 32px);
    max-height: calc(100vw - 32px);
  }

  .services__point {
    font-size: 20px;
  }

  .services__points {
    margin-bottom: 45px;
  }

  .services__more {
    width: max-content;
  }

  .services__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/*  */
.marquee-block {
  padding: 180px 0;
  background: url(./img/marquee-fon.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.marquee {
  display: flex;
  white-space: nowrap;
  gap: 100px;

}

.marquee p {
  width: max-content;
  animation-name: marquee;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  flex-shrink: 0;
  color: #191919;
  font-family: 'Micra', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 65%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.marquee img {
  max-width: none;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 1400px) {
  .marquee-block {
    padding: 80px 0;
  }
}

@media (max-width: 1240px) {
  .marquee img {
    height: 90px;
  }

  .marquee-block {
    padding: 40px 0;
  }
}

@media (max-width: 600px) {
  .marquee img {
    height: 60px;
  }

  .marquee-block {
    padding: 24px 0;
  }
}

/*  */
.work {
  margin-bottom: 50px;
  position: relative;
}

.work__slider {
  padding: 70px 0 70px;
}

.work__slide {
  margin-right: -243px;
  width: 520px;

  transition: all 0.3s;
  background: #fff;

}

.work__item {
  padding: 40px 40px 40px;
  opacity: 0.6;
  border: 1px solid rgb(214, 214, 214);
  position: relative;
  height: 455px;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  font-size: 18px;
  box-sizing: border-box;
}

.work__slide.act {
  z-index: 20;
  margin-top: -24px;
}

.work__slide.act .work__item {
  opacity: 1;
  border: 1px solid rgb(214, 214, 214);
  box-shadow: 10px 15px 40px 0px rgba(32, 53, 86, 0.25);
  height: 500px;
}

.work__title {
  font-weight: 500;
  font-size: 22px;
  color: #203556;
}

.work__num {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 120px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
  -webkit-text-stroke: 1px #203556;
  text-stroke: 1px #203556;
  position: absolute;
  top: 40px;
  right: 40px;
}

.work__arrs {
  display: flex;
  position: absolute;
  right: 0;
  top: -130px;
}

.work__arr {
  padding-right: 11px;
  width: 60px;
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.work__arr::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 10px;
  bottom: 0;
  background: transparent;
  border: 1px solid #E63246;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  z-index: -1;
  transition: all 0.3s;
}

.work__arr:hover path {
  fill: #ffffff
}

.work__arr:hover::before {
  background: #E63246;
}

@media (max-width: 1240px) {
  .work__num {
    font-size: 60px;
  }

  .work__item {
    padding: 24px;
    height: 350px;
  }

  .work__slide.act .work__item {
    height: 400px;
  }
}

@media (max-width: 600px) {
  .work__arrs {
    margin-top: 30px;
    position: static;
    justify-content: end;
  }

  .work__slider {
    margin-top: 45px;
    padding: 0;
    overflow: visible;
  }

  .work__slide {
    margin-right: 0;
    width: calc(100vw - 32px);
  }

  .work__slide {
    height: auto;
  }

  .work__slide.act {
    margin: 0;
    height: auto;
  }

  .work__slide.act .work__item {
    height: auto;
  }

  .work__item {
    padding: 70px 24px 24px;
    border: none;
    height: auto;
    gap: 24px;
  }

  .work__num {
    font-size: 70px;
  }

  .work__icon {
    width: 40px;
  }

  .work__title {
    font-size: 18px;
  }

  .work__desc {
    font-size: 14px;
  }
}

/*  */


.file-drop-area {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 100%;
  height: 140px;
  padding: 0 25px;
  border: 2px dashed rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  transition: 0.2s;

  &.is-active {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

.file-block {
  width: 80px;
  height: 80px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px dashed #b81414;
  line-height: 1;
  word-break: break-all;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;

  &:focus {
    outline: none;
  }
}

.file-drop-area::after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: url('./img/download.svg') 50% 50% no-repeat;
}

.file-drop-area__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
}

.file-drop-area__title span {
  display: block;
  color: rgb(112, 145, 215);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.file-drop__info {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

@media (max-width: 600px) {
  .form-group {
    /* grid-template-columns: 1fr; */
    gap: 0;
  }

  .file-drop-area {
    height: 110px;
  }

  .file-drop-area__title {
    font-size: 14px;
  }

  .file-drop-area__title span {
    font-size: 14px;
  }
}


.big-form {
  position: relative;
  background: linear-gradient(146.71deg, rgb(32, 53, 86) 0.235%, rgb(57, 94, 151) 71.304%);
  color: #fff;
  z-index: 1;
}

.big-form::after {
  content: '';
  display: block;
  position: absolute;
  right: calc(50% + 566px);
  top: 0;
  width: 500px;
  height: 230px;
  transform: rotate(90deg);
  background: url(./img/dots.svg) 0 0 no-repeat;
  z-index: -2;
}

.big-form__form {
  padding: 60px 0;
  max-width: calc(66% - 40px);
}

.big-form h2 {
  padding: 0;
  border: none;
  font-size: 60px;
}

.big-form h2::before {
  display: none;

}

.big-form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px 40px;
}

.file-drop {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}

.big-form__top {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px 40px;
}

.big-form__item {
  display: flex;
}

.big-form__item::before {
  content: '+ ';
  margin-top: -2px;
  min-width: 24px;
  font-size: 23px;
  color: #E63246;
}

.big-form__bottom {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px 40px;
}

.big-form__phone {
  font-weight: 500;
  font-size: 24px;
  color: #fff;
}

.big-form__mail {
  font-size: 24px;
  color: #7091D7;
}

.big-form .container {
  position: relative;
}

.big-form__img {
  position: absolute;
  top: 0;
  left: 66%;
  bottom: 0;
  height: 100%;
  width: 738px;
  object-fit: cover;
  max-width: none;
}

@media (max-width: 1240px) {
  .big-form__form {
    max-width: 100%;
    width: 100%;
  }

  .big-form h2 {
    font-size: 40px;
  }

  .big-form__img {
    margin: 0 -30px;
    position: static;
    display: block;
    width: calc(100% + 60px);
    height: 380px;
    object-fit: cover;
    object-position: 50% 22%;
  }
}

@media (max-width: 600px) {
  .big-form__form {
    padding: 40px 0;
  }

  .big-form h2 {
    font-size: 30px;
  }

  .big-form__top {
    margin-bottom: 30px;
    grid-template-columns: 1fr;
  }

  .big-form__bottom {
    margin-top: 20px;
  }

  .big-form form {
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    grid-template-columns: 1fr;
  }

  .file-drop {
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
  }

  .big-form__bottom {
    grid-template-columns: 1fr;
  }

  .big-form__contact-name {
    margin-bottom: 4px;
  }

  .big-form__phone {
    font-size: 20px;
  }

  .big-form__mail {
    font-size: 16px;
  }

  .big-form__img {
    margin: 0 -16px;
    width: calc(100% + 32px);
    height: 240px;
  }
}

/*  */
.brands {
  display: block;
  width: 100%;
  overflow: hidden;
}

.brands__slide {
  width: 270px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset -1px -1px 0px 0px rgb(214, 214, 214);
}

.brands__slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.brands__wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.brands__slide {
  filter: grayscale(1);
  opacity: 0.4;
}

@media (max-width: 600px) {
  .brands__slide {
    width: 135px;
    height: 100px;
  }
}

/*  */
.servs {}

.servs__block {
  padding: 100px 0;
}

.servs__block:nth-child(2n - 1) {
  background: rgba(32, 53, 86, 0.05);
}

.servs__tabs {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 22px 12px;
}

.servs__tab {
  padding: 10px 30px 10px 30px;
  border: 1px solid #D6D6D6;
  border-radius: 60px;
  font-size: 18px;
  color: #203556;
  transition: all 0.3s;
}

.servs__tab:hover {
  border: 1px solid #203556;
}

.servs__tab::before {
  content: '+ ';
  color: #E63246;
}

.servs__tab.active {
  background: #203556;
  border: 1px solid #203556;
  color: #fff;
}

.servs__tab-content {
  padding-top: 20px;
  display: none;
}

.servs__tab-content.active {
  display: block;
}

.servs__content {
  display: grid;
  grid-template-columns: 7fr 5fr;
  gap: 40px;
}

.servs__img {
  text-align: right;
}

.servs__btn {
  margin-top: 40px;
}

.servs__img--mobile {
  display: none;
}

@media (max-width: 1240px) {
  .servs__block {
    padding: 60px 0;
  }

  .servs__tab {
    padding: 4px 12px;
  }

  .servs__tabs {
    margin-bottom: 24px;
    gap: 12px;
  }

  .servs__content {
    grid-template-columns: 1fr;
  }

  .servs__img {
    text-align: left;
    order: -1;
  }
}

@media (max-width: 600px) {
  .servs__block {
    padding: 40px 0;
  }

  .servs__block h2 {
    font-size: 26px;
  }

  .servs__img {
    display: none;
  }

  .servs__img--mobile {
    margin: 30px 0;
    display: block;
  }

  .servs__tab-content {
    padding-top: 0px;
  }

  .servs__btn {
    padding: 20px 40px;
  }
  .servs__tab {
    padding: 4px 12px;
    font-size: 14px;
  }
}

/*  */
.text-block {
  margin-bottom: 100px;
  padding-top: 100px;
  display: flex;
  gap: 24px;
  position: relative;
}

.text-block__left {
  width: 50%;
  box-sizing: border-box;
}

.text-block__right {
  position: relative;
  padding-left: 100px;
  width: 50%;
  box-sizing: border-box;
  z-index: 1;
}

.text-block__right::before {
  content: '';
  display: block;
  position: absolute;
  top: -100px;
  left: 50px;
  bottom: 50px;
  width: 50vw;
  background: #F4F5F6;
  z-index: -1;
}

.text-block__right::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 500px;
  height: 230px;
  background: url(./img/stars.svg) 0 0 no-repeat;
  z-index: -2;
}

.text-block__images {
  margin-bottom: 50px;
  display: flex;
  justify-content: end;
  gap: 16px;
}

@media (max-width: 1240px) {
  .text-block {
    margin-bottom: 60px;
    padding-top: 60px;
  }
}

@media (max-width: 600px) {
  .text-block {
    margin-bottom: 10px;
    flex-wrap: wrap;
  }

  .text-block__left {
    width: 100%;
  }

  .text-block__right {
    margin-bottom: 40px;
    padding: 20px 0;
    width: 100%;
  }

  .text-block__right::before {
    top: 0;
    left: -16px;
    bottom: 0;
    width: calc(100% + 32px);
    height: 100%;
  }

  .text-block__images {
    margin-bottom: 0;
    justify-content: center;
  }

  .text-block__images svg {
    width: auto;
    max-height: 350px;
  }

  .text-block__right::after {
    left: 50%;
    bottom: -40px;
  }
}

/*  */
.pic_and_text {
  display: grid;
  grid-template-columns: 5fr 6fr;
  grid-gap: 24px 80px;
}

.pic_and_text__block {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.pic_and_text__block:nth-child(2n) .pic_and_text__img {
  order: 2;
}

@media (max-width: 600px) {
  .pic_and_text {
    grid-template-columns: 1fr;
    grid-gap: 24px 80px;
  }

  .pic_and_text__block:nth-child(2n) .pic_and_text__img {
    order: 0;
  }
}

/*  */
.catalog {}

.catalog h2 {
  text-align: center;
  border-bottom: none;
  width: 100%;
  font-size: 60px;
}

.catalog h2::before {
  display: none;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.catalog__item {
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
  background: #fff;
  position: relative;
  overflow: hidden;
}

.catalog__bottom {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -200px;
  left: 0;
  right: 0;
  background: linear-gradient(146.71deg, rgb(32, 53, 86) 0.217%, rgb(57, 94, 151) 70.825%);
  transition: all 0.3s;
}

.catalog__item:hover .catalog__bottom {
  bottom: 0;
}

.catalog__img {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
}

.catalog__img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

@media (max-width: 1240px) {
  .catalog h2 {
    font-size: 40px;
  }
}

@media (max-width: 1000px) {
  .catalog__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .catalog__img {
    height: 250px;
  }
}

@media (max-width: 600px) {
  .catalog h2 {
    text-align: left;
    font-size: 30px;
  }

  .catalog__list {
    grid-template-columns: 1fr;
  }
}

/*  */
.galleries__tabs {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 22px 12px;
}

.galleries__tab {
  padding: 10px 30px 10px 30px;
  display: block;
  max-width: max-content;
  border: 1px solid #D6D6D6;
  border-radius: 60px;
  font-size: 18px;
  color: #203556;
  transition: all 0.3s;
}

.galleries__tab:hover {
  border: 1px solid #203556;
}

.galleries__tab::before {
  content: '+ ';
  color: #E63246;
}

.galleries__tab.active {
  background: #203556;
  border: 1px solid #203556;
  color: #fff;
}

.galleries__tab-content {
  display: none;
}

.galleries__tab-content.active {
  display: block;
}

.gallery__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.gallery__item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 330px;
  overflow: hidden;
}

.gallery__item img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

@media (max-width: 1240px) {
  .galleries__tabs {
    gap: 12px;
  }

  .galleries__tab {
    padding: 4px 12px;
  }

  .gallery__item {
    max-height: 250px;
  }
}

@media (max-width: 600px) {
  .gallery {
    overflow: visible;
  }

  .gallery__wrap {
    display: flex;
    gap: 0;
  }
  .galleries__tab {
    padding: 4px 12px;
    font-size: 14px;
  }
}

/*  */
.projects {
  position: relative;
}

.projects__swiper {
  position: relative;
}

.projects__arrs {
  display: flex;
  position: absolute;
  right: 0;
  top: 0px;
}

.projects__arr {
  padding-right: 11px;
  width: 60px;
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.projects__arr::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 10px;
  bottom: 0;
  background: transparent;
  border: 1px solid #E63246;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  z-index: -1;
  transition: all 0.3s;
}

.projects__arr:hover path {
  fill: #ffffff
}

.projects__arr:hover::before {
  background: #E63246;
}

.projects__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.projects__top {
  display: grid;
  display: flex;
  gap: 40px;
}

.projects__gallery {
  width: calc(100% - 430px);
}

.projects__characters {
  width: 390px;
  border-top: 1px solid #D6D6D6;
}

.projects__character {
  padding: 16px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #D6D6D6;
}

.projects__character-name {
  font-weight: 500;
  line-height: 120%;
  font-size: 18px;
}

.projects__character-val {
  font-size: 16px;
  color: #58677E;
}

@media (max-width: 600px) {
  .projects__swiper {
    margin: 0 -16px;
    margin-top: 110px;
  }

  .projects__item {
    padding: 0 16px;
  }

  .projects__arrs {
    top: 65px;
  }

  .projects__top {
    flex-wrap: wrap;
  }

  .projects__gallery {
    width: 100%;
  }

  .projects__characters {
    width: 100%;
    border-top: 1px solid #D6D6D6;
  }

  .projects__gallery-slider {
    overflow: visible;
  }

  .projects__character {
    padding: 20px 0;
  }
}

/*  */
.sanction {
  padding: 54px 0 70px;
  position: relative;
  background: linear-gradient(146.71deg, rgb(32, 53, 86) 0.135%, rgb(57, 94, 151) 68.61%);
  color: #fff;
  z-index: 1;
}

.sanction::after {
  content: '';
  display: block;
  position: absolute;
  right: calc(50% + 566px);
  top: 0;
  width: 500px;
  height: 230px;
  transform: rotate(90deg);
  background: url(./img/dots.svg) 0 0 no-repeat;
  z-index: -2;
}

.sanction h2 {
  margin-bottom: 26px;
  padding: 0;
  line-height: 120%;
  border: none;
  font-size: 60px;
}

.sanction h2::before {
  display: none;
}

.sanction__content {
  max-width: 75%;
  width: 940px;
  position: relative;
}

.sanction .container {
  position: relative;
}

.sanction__img {
  position: absolute;
  bottom: -70px;
  left: 70%;
  width: 500px;
}

.sanction__img img {
  display: block;
}

.sanction__brands {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.sanction__brand {
  width: calc(20% - 15px);
}

.sanction__line {
  display: flex;
  align-items: start;
  gap: 24px;
  max-width: 90%;
  font-size: 18px;
}

@media (max-width: 1240px) {
  .sanction h2 {
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  .sanction {
    padding: 40px 0 0;
  }
  .sanction h2 {
    font-size: 30px;
  }
  .sanction__content {
    max-width: 100%;
  }
  .sanction__brand {
    width: calc(50% - 5px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
  }
  .sanction__line {
    max-width: 100%;
  }
  .sanction__img {
    position: static;
    width: 100%;
  }
  .sanction__info {
    width: 100%;
  }
  .sanction__line {
    flex-wrap: wrap;
  }
}
/*  */
.sertification {
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
}

.sertification__gal {
  position: relative;
}

.sertification__gal::before {
  content: '';
  display: block;
  position: absolute;
  right: -44px;
  top: -44px;
  width: 500px;
  height: 230px;
  background: url(./img/stars.svg) 0 0 no-repeat;
  z-index: -2;
}

.sertification::after {
  content: '';
  display: block;
  position: absolute;
  left: -44px;
  bottom: -44px;
  width: 500px;
  height: 230px;
  background: url(./img/stars.svg) 0 0 no-repeat;
  z-index: -2;
}

.sertification__text {
  margin-bottom: 50px;
  max-width: 740px;
}

.sertification__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.sertification__swiper {
  margin-bottom: 50px;
}

.sertification__slide {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #D6D6D6;
  background: #fff;
}

.sertification__brands {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid rgb(214, 214, 214);
  border-left: 1px solid rgb(214, 214, 214);
}

.sertification__brand {
  width: 20%;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset -1px -1px 0px 0px rgb(214, 214, 214);
  background: #fff;
}

@media (max-width: 1240px) {
  .sertification__brand {
    height: 160px;
  }
}
@media (max-width: 600px) {
  .sertification {
    margin-bottom: 0;
  }
  .sertification__gal::before {
    display: none;
  }
  .sertification__swiper {
    overflow: visible;
  }
  .sertification__wrapper {
    display: flex;
    gap: 0;
  }
  .sertification__brand {
    width: 50%;
  }
  .sertification::after {
    left: 52%;
    bottom: 0;
  }
}
/*  */
.questions {
  padding: 80px 0;
  position: relative;
  background: linear-gradient(146.71deg, rgb(32, 53, 86) 0.135%, rgb(57, 94, 151) 68.61%);
  color: #fff;
  z-index: 1;
}

.questions h2 {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.questions::after {
  content: '';
  display: block;
  position: absolute;
  right: calc(50% + 566px);
  top: 0;
  width: 500px;
  height: 230px;
  transform: rotate(90deg);
  background: url(./img/dots.svg) 0 0 no-repeat;
  z-index: -2;
}

.questions__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.questions__img {
  display: flex;
  gap: 24px;
}

.questions__block {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.questions__item {
  padding: 30px 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.questions__ask {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  cursor: pointer;
}

.questions__ask::after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  min-width: 35px;
  background: url(./img/question-cross.svg) 50% 50% no-repeat;
  background-size: contain;
  transition: all 0.3s;
}

.questions__item.open .questions__ask::after {
  transform: rotate(45deg);
}

.questions__answer {
  padding-top: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  display: none;
}

@media (max-width: 1240px) {
  .questions__content {
    grid-template-columns: 1fr;
  }

  .questions__img {
    margin-bottom: 40px;
    max-height: 300px;
    justify-content: start;
  }

  .questions__img svg {
    max-height: 100%;
    width: auto;
  }

  .questions__item {
    padding: 20px 0;
  }

  .questions__answer {
    padding-top: 16px;
  }
}
@media (max-width: 600px) { 
  .questions {
    padding: 40px 0;
  }
  .questions__img {
    margin-top: 20px;
  }
  .questions__ask {
    font-size: 16px;
  }
  .questions__answer {
    font-size: 14px;
  }
  .questions__ask::after {
    width: 22px;
    height: 22px;
    min-width: 22px;
  }
}
/*  */
.contacts {
  z-index: 1;
  position: relative;
}

.contacts h2 {
  border-bottom: none;
}

.contacts::before {
  content: '';
  display: block;
  position: absolute;
  right: -44px;
  top: 100px;
  width: 500px;
  height: 230px;
  background: url(./img/stars.svg) 0 0 no-repeat;
  z-index: -2;
}

.contacts__items {
  margin-top: 44px;
  display: flex;
  border: 1px solid #D6D6D6;
  border-left: none;
  position: relative;
  background: #fff;
  z-index: 1;
}

.contacts__item {
  padding: 30px 40px 30px 30px;
  box-sizing: border-box;
  height: 270px;
  min-width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid #D6D6D6;
  background: #fff;
}

.contacts__title {
  font-weight: 500;
  font-size: 20px;
  color: #E63246;
}

.contacts__val {
  font-weight: 500;
  font-size: 24px;
  color: #203556;
  transition: all 0.3s;
}

a.contacts__val:hover {
  color: #E63246;
}

.contacts__info,
a.contacts__info,
.contacts__info a {
  font-size: 16px;
  color: #58677E;
}

.contacts__mail {
  white-space: nowrap;
}

.contacts__info {
  white-space: nowrap;
}

.contacts__socities {
  display: flex;
  align-items: center;
  gap: 16px;
}

.contacts__socity {
  display: block;
  transition: none;
  position: relative;
}

.contacts__socity:hover .contacts__unhov {
  opacity: 0;
}

.contacts__socity .contacts__hov {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.contacts__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contacts__socity:hover .contacts__hov {
  display: block;
  opacity: 1;
}

@media (max-width: 1400px) {
  .contacts__item {
    padding: 30px 24px;
  }
}

@media (max-width: 1240px) {
  .contacts__items {
    flex-wrap: wrap;
    border-bottom: none;
  }

  .contacts__item {
    padding: 24px;
    width: 50%;
    height: auto;
    min-width: 200px;
    border-bottom: 1px solid #D6D6D6;
  }

  .contacts__title {
    margin-bottom: 16px;
  }
}
@media (max-width: 600px) {
  .contacts__item {
    width: 100%;
    height: 270px;
  }
  .contacts__val br {
    display: none;
  }
}

/* popup */
.popup {
  padding: 80px 40px;
  background: #203556 url(./img/popup-fon.jpg);
  background-size: cover;
  color: #fff;
  max-width: 600px;
  display: none;
}

.popup__inside {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.popup form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.popup h2 {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
  color: #fff;
}

.form-agree {
  line-height: 120%;
  font-size: 14px;
}
@media (max-width: 600px) {
  .popup {
    padding: 80px 16px;
  }
}